/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');
/* End Fonts */
/* Start Global rules */



/* |||||||||||||||||||||||||||||||||||||||||||||*/
/* //////////////////////////////////////////// */




/* End body rules */

/* Start form  attributes */
.formLogin {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #3a3dff 50%, #ff661a 50%);
}
/* form Container */
.formLogin .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

/* the header form form */
.headForm {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
.headForm h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
}
/*  A welcome message or an explanation of the login form */
.headForm p {
  letter-spacing: 0.05em;
  color: rgb(0, 0, 0);

}



/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */


.input-item {
    background: #fff;
    color: #333;
    padding: 13.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}



/* Show/hide password Font Icon */
#eye {
    background: #fff;
    color: #333;
  
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
  
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    
    cursor: pointer;
}
/* inputs form  */
input[class="form-input"]{
    width: 240px;
    height: 50px;
  
    margin-top: 2.1%;
    padding: 15px;
    
    font-size: 17px;
    font-family: 'Abel', sans-serif;
    color: #000000;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
input[id="txt-input"] {width: 250px;}



#pwd{
  margin-bottom: 30px;
}


/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

/* input[type="text"] {min-width: 250px;} */
/* buttons  */
.btn{
    display: inline-block;
    color: #252537;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;
}
/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    float: left;
    margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
#pass_fr {background: transparent;
font-size: 16px;
font-weight: bold;
color: white;
}

/*     Sign Up button  */
#sign-up {
  background-color: #4147ff;
  color: white;
}


/* buttons hover */
.btn:hover {
    transform: translatey(3px);
    box-shadow: none;
}
.other{
  margin-top: 10px;
}

#logg{
  margin-bottom: 10px;
  background-color: rgb(143, 203, 255);
}

/* buttons hover Animation */
.btn:hover {
    animation: aymen 0.4s ease-in-out infinite alternate;
}
@keyframes aymen {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}